/*-- Styles --*/

body {
    font-family: Arial, sans-serif;
    background-color: rgb(220, 230, 210);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: large;
}

header {
    background: rgb(60, 60, 160);
    color: white;
    padding: 10px;
    padding-top: 5px;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#searchForm {
    background: white;
    border-radius: 5px; border: 1px solid black;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px; /* Max width */
    text-align: center;
}

input[type="text"],[type="number"],[type="email"] {
    width: 95%; 
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid lightslategray;
    border-radius: 16px;
    font-size: 1em; /* Base font size */
}

select{
    border: 0.5px solid black; border-radius: 15px; font-size: large; 
    background-color: rgb(235, 248, 250); display: block; width: 100%; margin: 10px 0; padding: 10px;
}

button {
    background-color: rgb(60, 60, 160);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em; /* Base font size */
    transition: background-color 0.3s;
    width: 100%; 
}

button:hover {
    background-color: rgb(2, 130, 130);
}

footer {
    color: rgb(50, 50, 50);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0%;
}

#loadingBar {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 8px; /* Height */
    background-color: rgb(200, 100, 100); /* Green color */
    transform: scaleX(0); /* Initially hidden */
    transition: transform 0.8s ease; /* Smooth transition */
    animation: loadingAnimation 5s linear forwards; /* Adjust duration for speed */
    z-index: 1000; /* Ensure it’s on top */
} /* line 8.8/10